/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tableClass {
  width: 100%;
}

.mat-header-cell {
  color: #3f51b5;
  background-color: #3f51b526;
  font-size: medium;
}

.add-button-class {
  text-align: end;
  margin-bottom: 20px;
}

.penalClass {
  .mat-dialog-container {
    padding: 0;
  }
}
